<div class="dashboard-container">
  <h1 class="dashboard-title">Dashboard</h1>

  <div class="buttons-container">
    <button (click)="redirectTo('transfers')" class="dashboard-button">
      <i class="fas fa-exchange-alt"></i> Transfers
    </button>
    <button (click)="redirectTo('sirone')" class="dashboard-button">
      <i class="fas fa-money-check-alt"></i> Blocked Transfers
    </button>
    <button (click)="redirectTo('settings')" class="dashboard-button">
      <i class="fas fa-cog"></i> Settings
    </button>
    <button (click)="redirectTo('beneficiaries')" class="dashboard-button">
      <i class="fas fa-users"></i> Beneficiaries
    </button>
  </div>

  <!-- Enhanced Card for the welcome message -->
  <div class="welcome-card">
    <div class="card-content">
      <h2>Welcome to Transfert National BackOffice App</h2>
      <p>This is the dashboard of our BackOffice application.</p>
    </div>
  </div>
</div>
